@font-face {
  font-family: 'Biennale';
  src: url('../src/Assets/fonts/Biennale\ Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @layer font-biennale;
 
}